apiVersion: v1
kind: Service
metadata:
  name: weather-app-service
  labels:
    app: weather-app
spec:
  type: NodePort
  selector:
    app: weather-app
  ports:
    - name: http
      port: 8080
      targetPort: 5000
      nodePort: 30080