name: CD

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

env:
  REGISTRY: franssy
  IMAGE_NAME: weather-predictor


jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      actions: read

    steps:

      - name: Download built image
        uses: actions/download-artifact@v4
        with:
          name: built-image
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ github.token }}
      - name: Load Docker image
        run: docker load -i image.tar

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image to DockerHub
        run: docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

#      - name: Copy kubernetes deployment manifest to EC2
#        uses: appleboy/scp-action@v0.1.7
#        with:
#          host: ${{ secrets.EC2_HOST }}
#          username: ubuntu
#          key: ${{ secrets.EC2_SSH_KEY }}
#          source: "k8s/deployment.yaml"
#          target: "/tmp/deployment.yaml"
#
#      - name: Copy kubernetes service manifest to EC2
#        uses: appleboy/scp-action@v0.1.7
#        with:
#          host: ${{ secrets.EC2_HOST }}
#          username: ubuntu
#          key: ${{ secrets.EC2_SSH_KEY }}
#          source: "k8s/service.yaml"
#          target: "/tmp/service.yaml"

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Copy files to EC2
        run: |
          # Replace 'ec2-user' with your EC2 instance's username (e.g., ubuntu, centos)
          # Replace 'your-ec2-ip' with your EC2 instance's public IP or DNS
          # Replace '~/destination/path/' with the desired path on EC2
          scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
            /tmp/ \
            ubuntu@${{ secrets.EC2_HOST }}:~/k8s/*



      - name: Apply and restart deployment on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            kubectl apply -f /tmp/deployment.yaml
            kubectl apply -f /tmp/service.yaml
            kubectl rollout restart deployment weather-app