name: CD

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

env:
  REGISTRY: franssy
  IMAGE_NAME: weather-predictor


jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      actions: read

    steps:

#      - name: Log in to DockerHub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#
#      - name: Push image to DockerHub
#        run: docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Download built image
        uses: actions/download-artifact@v5
        with:
          name: built-image.zip
#          path: .
      - name: List Files
        run: ls -Ra
      - name: Load Docker image
        run: docker load -i image.tar
      - name: Load Docker image
        run: docker images

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image to DockerHub
        run: docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
