name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: franssy
  IMAGE_NAME: weather-predictor


jobs:
  deploy:
    runs-on: ubuntu-latest
    needs: build_and_test
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image to DockerHub
        run: docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest